@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #15803D;
    border-radius: 6px;
    outline: rgb(219, 219, 219);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  }