@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 30px;
    display: block;
    position: relative;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    width: 20px;
    border-color: transparent;
    border-style: solid;
    border-width: 10px;
}

::-webkit-scrollbar-thumb {
    background: silver;
    border-radius: 15px;
    display: block;
    position: relative;
    border: 10px solid transparent;
    z-index: -1;
    background-size: 100% 100%, 100% 100%, 15px 50%, 15px 50%;
    background-clip: padding-box;
}

.dark ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 15px;
    display: block;
    position: relative;
    border: 10px solid transparent;
    z-index: -1;
    background-size: 100% 100%, 100% 100%, 15px 50%, 15px 50%;
    background-clip: padding-box;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}